/*----------------------------------------------------------------
    Global
----------------------------------------------------------------*/
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1130;

html,body {
    height: 100%;
    
    color: #fff;
    font-family: "Superclarendon", serif;
    font-size: 14px;
    font-weight: 400;
	line-height: 1.3;
	background-color: #5a0000;
}

body.lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	overflow: hidden;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 15px;
}

.page {
	flex: 1 1 auto;
}

.img-cover {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.visually-hidden {
	position: absolute;
  
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
  
	white-space: nowrap;
  
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.hat {
	position: relative;
	z-index: 1;
	@include adaptiv-value('margin-top', 75, 35, 0);
	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 74px;
		width: calc(50% + 1px);
		height: 100px;
		background-color: #fff;
	}
	&--red {
		&::before,
		&::after {
			background-color:  #5a0000;
		}
	}
	&::before {
		left: 0;
		transform: skewY(-2.8deg) translate(0, -100%);
		transform-origin: left;
		border-radius: 30px 0 0 0;
		@media(max-width: 767px) {
			border-radius: 15px 0 0 0;
		}
	}
	&::after {
		right: 0;
		transform: skewY(2.8deg) translate(0, -100%);
		transform-origin: right;
		border-radius: 0 30px 0 0;
		@media(max-width: 767px) {
			border-radius: 0 15px 0 0;
		}
	}
}

.hat-revers {
	position: relative;
	z-index: 1;
	@include adaptiv-value('margin-bottom', 75, 35, 0);
	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		bottom: 74px;
		width: calc(50% + 1px);
		height: 100px;
		background-color: #fff;
	}
	&::before {
		left: 0;
		transform: skewY(2.8deg) translate(0, 100%);
		transform-origin: left;
		border-radius: 0 0 0 30px;
		@media(max-width: 767px) {
			border-radius: 0 0 0 15px;
		}
	}
	&::after {
		right: 0;
		transform: skewY(-2.8deg) translate(0, 100%);
		transform-origin: right;
		border-radius: 0 0 30px 0;
		@media(max-width: 767px) {
			border-radius: 0 0 15px 0;
		}
	}
}

.title {
	margin-bottom: 75px;

    color: #fde7b5;
	font-size: 35px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
	&--red {
		color: #5a0000;
	}
	&--white {
		color: #fff;
		font-weight: 700;

	}
	@media(max-width: 767px) {
		font-size: 29px;
	}
}